.donate-page {
  width: 80%;
  padding: 40px 20px;
}

.donate-title {
  font-size: 36px;
  margin-bottom: 30px;
}

.donate-swish {
  width: 400px;
  height: 400px;
}
.swish-undertext {
  font-size: 20px;
}

.donate-subtitle {
  line-height: 30px;
  font-size: 20px;
  background: white;
  padding: 15px 25px;
}

.account {
  font-size: 32px;
  text-align: left;
}

@media (max-width: 1440px) {
  .donate-page {
    width: 90%;
  }

  .donate-title {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .account {
    font-size: 30px;
  }
}

@media (max-width: 1280px) {
  .donate-subtitle {
    font-size: 18px;
    line-height: 24px;
  }
  .account {
    font-size: 24px;
  }
  .donate-swish {
    width: 350px;
    height: 350px;
  }
  .swish-undertext {
  font-size: 16px;
}

}
@media (max-width: 992px) {
  .donate-page {
    margin: 30px 10px;
  }

  .donate-subtitle {
    font-size: 16px;
    line-height: 22px;
  }
  .account {
    font-size: 20px;
  }
  .donate-swish {
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .donate-page {
    margin: 20px;
  }

  .donate-subtitle {
    font-size: 16px;
  }
  .donate-title {
    font-size: 32px;
    margin-bottom: 30px;
  }
}

@media (max-width: 576px) {
  .donate-page {
  width: 100%;
  padding: 5px;
}

  .donate-title {
    font-size: 26px;
    margin: 10px;
  }
  .donate-swish {
    width: 300px;
    height: 300px;
  }
  .account {
    font-size: 16px;
  }
}
