.vol-title {
  color: rgb(118, 118, 128);
}

.vol-text {
  font-size: 18px;
}
.vol-block {
  padding: 20px 30px;
  width: 65%;
}
.contact-logo-page3 {
  height: 20px;
}

.need-help {
  margin: 60px 20px 100px 20px;
  width: 60%;
}
.media-help {
  width: 20px;
}
.need-subtext {
  font-size: 18px;
}
.need-undertext {
  color: rgb(83, 75, 75);
}

@media (max-width: 1200px) {
  .vol-block {
    padding: 10px 20px;
    width: 80%;
  }
  .need-help {
    width: 70%;
  }
}

@media (max-width: 992px) {
  .vol-block {
    width: 80%;
  }
  .need-help {
    width: 80%;
  }
  .need-subtext {
    font-size: 16px;
  }
  .need-undertext {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  .vol-block {
    width: 100%;
    padding: 10px;
  }
  .vol-title {
    font-size: 22px;
  }
  .vol-text {
    font-size: 14px;
  }
  .need-help {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }
  .need-subtext {
    font-size: 14px;
  }
  .need-undertext {
    font-size: 16px;
  }
}
