.volunteer {
  margin: 60px auto;
  width: 65%;
  font-size: 18px;
}
.volunteer-header {
  color: rgb(36, 36, 56);
}
.volunteer-text {
  font-size: 20px;
  font-weight: 500;
  color: rgb(118, 118, 128);
}
.UVHS {
  font-size: 24px;
}
.telegram {
  width: 50px;
  margin: 0;
  padding: 0;
}
@media (max-width: 1400px) {
  .volunteer {
    margin: 50px auto;
    width: 70%;
  }
}

@media (max-width: 1240px) {
  .volunteer {
    margin: 40px auto;
    width: 80%;
  }
  .volunteer-header {
    font-size: 22px;
  }
  .volunteer-text {
    font-size: 18px;
  }
  .UVHS {
    font-size: 20px;
  }
  .vol-subheader {
    font-size: 20px;
  }
}
@media (max-width: 776px) {
  .volunteer {
    margin: 30px auto;
    width: 90%;
  }
  .volunteer-header {
    font-size: 20px;
  }
  .volunteer-text {
    font-size: 16px;
  }
  .UVHS {
    font-size: 18px;
  }
  .vol-subheader {
    font-size: 18px;
  }
  .together-text {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .volunteer {
    margin: 20px auto;
    width: 90%;
    font-size: 14px;
  }
  .volunteer-header {
    font-size: 18px;
  }
  .volunteer-text {
    font-size: 14px;
  }
  .UVHS {
    font-size: 16px;
  }
  .vol-subheader {
    font-size: 16px;
  }

  .together-text {
    font-size: 20px;
  }
  .telegram {
    width: 40px;
  }
  .volunteer-link {
    font-size: 14px;
  }
}
