.mainCarousel {
  background: linear-gradient(
    180.02deg,
    rgba(255, 255, 255, 0) 0.02%,
    rgba(254, 243, 185, 0.08) 21.09%,
    rgba(250, 240, 188, 0.376) 49.36%,
    rgba(175, 236, 250, 0.424) 74.03%,
    rgba(98, 233, 253, 0.448) 98.7%
  );
  color: rgb(36, 36, 56);
  margin-top: 80px;
}

.carousel-text {
  color: rgb(107, 103, 103);
}

.undertext {
  color: rgb(112, 112, 114);
  font-size: 14px;
}
.news-block {
  width: 80%;
}

.news-image {
  width: 100%;
  background: transparent;
}

.news-title {
  font-size: 32px;
}

.blue-box {
  background: rgba(0, 200, 230, 0.6);
  padding: 24px 48px;
  height: 300px;
}
.grey-box {
  background: rgba(121, 121, 121, 1);
  padding: 24px 48px;
  height: 300px;
}

.view-button {
  font-weight: 700;
  font-size: 16px;
  background: rgb(255, 255, 255);
  text-decoration: none;
}
.view-button:hover {
  background: rgb(172, 249, 255);
  transition: all ease-in-out 0.3s;
}
@media (max-width: 1400px) {
  .blue-box {
    padding: 14px 20px;
  }
  .grey-box {
    padding: 14px 20px;
  }
}
@media (max-width: 1280px) {
  .news-block {
    width: 100%;
  }
  .project-title {
    font-size: 24px;
  }
  .project-text {
    font-size: 14px;
  }
  .blue-box {
    height: 220px;
  }
  .grey-box {
    height: 220px;
  }
}

@media (max-width: 1100px) {
  .project-title {
    font-size: 20px;
  }
  .project-text {
    font-size: 14px;
  }
  .blue-box {
    padding: 8px 16px;
    height: 200px;
  }
  .grey-box {
    padding: 8px 16px;
    height: 200px;
  }
}

@media (max-width: 996px) {
  .carousel {
    margin-top: -140px;
  }

  .news-image {
    width: 100%;
  }
  .news-title {
    font-size: 24px;
  }
  .project-title {
    font-size: 24px;
  }
}
@media (max-width: 778px) {
  .carousel {
    margin-top: -120px;
  }

  .news-title {
    text-align: center;
  }
  .blue-box {
    height: 180px;
  }
  .grey-box {
    height: 180px;
  }
}
@media (max-width: 650px) {
  .carousel {
    margin-top: -100px;
  }
}
@media (max-width: 446px) {
  .carousel {
    margin-top: -10px;
  }
}
