.mainCarousel {
  background: linear-gradient(
    180.02deg,
    rgba(158, 240, 253, 0.8) 0.02%,
    rgba(255, 243, 183, 0.336) 57.15%,
    rgba(217, 217, 217, 0) 98.7%
  );
  transform: rotate(-180deg);
  color: rgb(36, 36, 56);
  margin-top: 90px;
}

.carousel {
  transform: rotate(-180deg);
}

.carousel-text {
  color: rgb(107, 103, 103);
}

@media (max-width: 996px) {

}

