.mainCarousel {
  background: linear-gradient(
    180.02deg,
    rgba(158, 240, 253, 0.8) 0.02%,
    rgba(255, 243, 183, 0.336) 57.15%,
    rgba(217, 217, 217, 0) 98.7%
  );
  transform: rotate(-180deg);
  color: rgb(36, 36, 56);
  margin-top: 80px;
}

.carousel {
  transform: rotate(-180deg);
}

.carousel-text {
  color: rgb(107, 103, 103);
}
.img-instead {
  transform: rotate(-180deg);
}
.undertext {
  color: rgb(112, 112, 114);
  font-size: 14px;
}

.news-image {
  width: 100%;
}
.news-title {
  font-size: 36px;
}
.projects {
  margin: 60px 0;
}
.blue-box {
  background: rgba(0, 200, 230, 0.6);
  padding: 24px 48px;
}
.grey-box {
  background: rgba(121, 121, 121, 1);
  padding: 24px 48px;
}
.view-button {
  font-weight: 700;
  font-size: 16px;
  background: rgb(255, 255, 255);
  text-decoration: none;
}
.view-button:hover {
  background: rgb(172, 249, 255);
  transition: all ease-in-out 0.3s;
}
@media (max-width: 996px) {
  .img-instead {
    margin-top: -140px;
  }
}
@media (max-width: 776px) {
  .img-instead {
    margin-top: -120px;
  }
}
@media (max-width: 650px) {
  .img-instead {
    margin-top: -100px;
  }
}
@media (max-width: 446px) {
  .img-instead {
    margin-top: -10px;
  }
}
