.footer {
  background: linear-gradient(
    180.02deg,
    rgba(255, 255, 255, 0) 0.02%,
    rgba(254, 243, 185, 0.08) 21.09%,
    rgba(250, 240, 188, 0.376) 49.36%,
    rgba(175, 236, 250, 0.424) 74.03%,
    rgba(98, 233, 253, 0.448) 98.7%
  );
  color: rgb(36, 36, 56);
  padding-top: 56px;
  padding: 40px 60px;
}

.contact-logo {
  height: 24px;
}

.contact-text {
  color: rgb(36, 36, 56);
  font-weight: 600;
}
.media-links {
  margin: 30px auto;
}
.media {
  margin: 10px;
}
@media (max-width: 776px) {
}
