.footer {
  background: linear-gradient(
    180.02deg,
    rgba(255, 255, 255, 0) 0.02%,
    rgba(254, 243, 185, 0.08) 21.09%,
    rgba(250, 240, 188, 0.376) 49.36%,
    rgba(175, 236, 250, 0.424) 74.03%,
    rgba(98, 233, 253, 0.448) 98.7%
  );
  color: rgb(36, 36, 56);
  margin-top: 100px;
}

.contact-logo {
  height: 24px;
}

.contact-text {
  color: rgb(36, 36, 56);
  font-weight: 600;
  text-align: left;
}

.subscribe-button {
  color: rgba(0, 91, 187, 1);
  background: #ffffff;
  font-size: 12px;
  font-weight: 500;
}

@media (max-width: 1100px) {
  .contact-logo {
    height: 20px;
  }
  .contact-text {
    font-size: 13px;
  }
  .subscribe-text {
    font-size: 14px;
  }
  .footer {
    margin-top: 70px;
  }
}

@media (max-width: 810px) {
  .contact-logo {
    height: 18px;
  }
  .contact-text {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .subscribe-text {
    font-size: 12px;
  }
  .footer {
    margin-top: 40px;
  }
}
