.footer {
  background: linear-gradient(
    180.02deg,
    rgba(158, 240, 253, 0.8) 0.02%,
    rgba(255, 243, 183, 0.336) 57.15%,
    rgba(217, 217, 217, 0) 98.7%
  );
  transform: rotate(-180deg);
  color: rgb(36, 36, 56);
  height: 180px;
}

.contacts {
  transform: rotate(-180deg);
}
.contact-logo {
  width: 24px;
}
.contact-logo-tel {
  width: 20px;
}

.contact-block {
  margin-left: 92px;
}
.contact-text {
  color: rgb(36, 36, 56);
  font-weight: 600;
}

@media (max-width: 776px) {
}
